<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
</head>
<body>
    <form action="/registered" method="post">
      <input type="text" name="Fname" placeholder="First Name"/></br>
      <input type="text" name="Lname" placeholder="Last Name"/></br>
      <input type="text" name="age" placeholder="Age"/>
      <input type="submit" value="Submit"/>
    </form>
</body>
</html>