<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Here is your registeration form</h1>
    </header>
    <main>
      <form action="/register" method="post">
        <input type="text" name="name" placeholder="Name" /><br /><br />
        <input type="text" name="age" placeholder="Age" /><br /><br />
        <input
          type="password"
          name="password"
          placeholder="Password"
        /><br /><br />
        <input
          type="password"
          name="cpass"
          placeholder="Confirm Password"
        /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
